.chat {
  $controls-width: 500px;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .chat-window {
    margin: 10px;
    flex: 1;
    width: $controls-width;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    overflow: auto;
    box-sizing: border-box;

    .chat-message-wrapper {
      display: flex;

      &.left {
        justify-content: flex-start;
      }

      &.right {
        justify-content: flex-end;
      }
    }
  }

  .footer {
    margin: 10px;
    width: $controls-width;
    box-sizing: border-box;

    input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid rgb(185,185,185);
      display: block;
      font-size: 12px;
      outline: none;
    }

  }

  @media screen and (max-width: $controls-width){
    .chat-window {
      width: 100%;
    }
    .footer {
      width: 100%;
    }
  }

}