.home-page {
  $input-width: 300px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f1;

  input {
    width: $input-width;
    padding: 16px;

    box-sizing: border-box;
    border: 1px solid rgb(185,185,185);
    display: block;
    font-size: 18px;
    outline: none;
  }

  .ok-button {
    width: $input-width;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3498db;
    color: #ecf0f1;
    font-size: 24px;
    user-select: none;

    transition: background-color 0.1s ease-in;

    &:hover {
      cursor: pointer;
      background-color: #2e8ece;
    }

    &.disabled {
      cursor: default;
      background-color: #c2c2c2;
    }
  }
}